canvas { 
  border: 2px solid orange; 
    background-color: aqua;

}
#restartBtn { 
  display: none; 
  margin-top: 10px; 
}
body {
  font-family: Arial, sans-serif;
  text-align: center;

}
#leaderboard {
  list-style: none;
  padding: 0;
}
#leaderboard li {
  font-size: 18px;
  margin: 2px 0;
}


